<%- include('partials/header'); -%>


<div class="container-fluid title">

    <div class="col icondiv">
        <img class="title-img" src="images/field-notes.png" alt="">
    </div>
    <div class="col">
        <div class="heading">
            <h1>Digital 'Field Notes'</h1>
            <h5 class="sub-heading">A guide on how I started getting shit done, and what I've learned from it.</h5>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row bg-light">

    <div class="col-md-9 pt-5 blog-posts">
        <div class="sec-main-heading mb-5">
            <h2 class="main-heading pb-3">Recent blogs</h2>
        </div>

        <% blogs.forEach(blog => { %>
        <div class="card m-3 ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <p class="card-text"><%= blog.summary %></p>
                        <p class="card-text"><small class="text-muted">posted <%= blog.created %></small></p>
                        <a href="<%= blog.title %>" style="text-decoration: none; ">
                            <div class="btn-readmore btn-one">
                                Read more
                            </div>
                        </a>
                    </div>
                </div>
            </div>     
        </div>
        <%});%>


    </div>
    <div class="col-md-3">

        <div class="sidebar">
            <div class="make-me-sticky">
                <div class="sticky-heading pt-5 mb-5 pb-3">
                    <h3>Popular Blogs</h3>
                </div>
                <% blogs.forEach(blog => { if(blog.popular === true){  %>

                <div class="card m-3">
                    <div class="card-body">
                        <h3 class="card-title"><%= blog.title %></h3>
                        <p onclick="submit" class="card-text"><%= blog.summary %></p>
                        <a href="<%= blog.title %>" style="text-decoration: none; ">
                            <div class="btn-readmore btn-one">
                                Read more
                            </div>
                        </a>
                    </div>
                </div>
                <%}});%>
            </div>

        </div>


    </div>
</div>

</div>



<%- include('partials/footer'); -%>